In [1]:
#NameError

ver=10
print(var)

NameError: name 'var' is not defined

In [2]:
#SyntaxError

print("Hello)

SyntaxError: unterminated string literal (detected at line 3) (2968254275.py, line 3)

In [3]:
#TypeError


x=5+'aman'
print(x)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [4]:
#IndexError



my_list=[10,34,5,6,667]
print(my_list[6])

IndexError: list index out of range

In [5]:
#KeyError


dic={
    'id':11,
    'name':"Aman",
    'age':23
}
print(dic['email'])

KeyError: 'email'

In [7]:
#ValueError



import math

n=int(input("Enter anu Number"))

x=math.factorial(n)

print('Factorial=',math.factorial(n))

Enter anu Number-2

ValueError: factorial() not defined for negative values

In [8]:
#FileNotFound


obj=open("smapl.txt",'r')
res=obj.read()
print(res)
obj.close()

FileNotFoundError: [Errno 2] No such file or directory: 'smapl.txt'

In [9]:
#ImportError  / ModuleNotError




import request

ModuleNotFoundError: No module named 'request'

In [10]:
#OverflowError

import math

print("Exponant is:",math.exp(1000))

OverflowError: math range error

In [12]:
#How to Handle ZeroValueError using continue


for i in range(-6,7):
    try:
        x=100/i
        print(i)
        
    except ZeroDivisionError:
        continue
        

        
a=10
b=30
c=a+b
print("Add=",c)

-6
-5
-4
-3
-2
-1
1
2
3
4
5
6
Add= 40

In [13]:
r_list=[]
e_list=[]


for i in range(-6,7):
    try:
        x=100/i
        print(i)
        
    except ZeroDivisionError as Err:
        e_list.append(Err)
        
    else:
        r_list.append(x)
        
        
print(e_list)
print(r_list)

-6
-5
-4
-3
-2
-1
1
2
3
4
5
6
[ZeroDivisionError('division by zero')]
[-16.666666666666668, -20.0, -25.0, -33.333333333333336, -50.0, -100.0, 100.0, 50.0, 33.333333333333336, 25.0, 20.0, 16.666666666666668]

In [14]:
r_list=[]
e_list=[]


for i in range(-6,7):
    try:
        x=100/i
        print(i)
        
    except Exception as Err:
        e_list.append(Err)
        
    else:
        r_list.append(x)
        
        
print(e_list)
print(r_list)

-6
-5
-4
-3
-2
-1
1
2
3
4
5
6
[ZeroDivisionError('division by zero')]
[-16.666666666666668, -20.0, -25.0, -33.333333333333336, -50.0, -100.0, 100.0, 50.0, 33.333333333333336, 25.0, 20.0, 16.666666666666668]

In [1]:
#How to handle TypeError

try:
    x=5+'Aman'
    print(x)
    
except TypeError:
    print("Integer & String not add")

Integer & String not add

In [8]:
#How to handle TypeError

try:
    x=5+'Aman'
    print(x)
    
except Exception as Err:
    print(Err)

unsupported operand type(s) for +: 'int' and 'str'

In [3]:
try:
    x=5+'Aman'
    print(x)   
finally:
    print("Always Exceute")

Always Exceute

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
try:
    ver=10
    print(var)
    
except NameError:
    print("Var Variable")

Var Variable

In [11]:
try:
    ver=10
    print(var)
    
except Exception as Err:
    print(Err)

name 'var' is not defined

In [14]:
#How to handle index Error


try:
    data=[10,30,30,49,48,478]
    print(data[6])
    
except IndexError:
    print("There is IndexError")

There is IndexError

In [20]:
#KeyError

dic={
    'id':11,
    'Name':"Aman",
    "Age":24,
}
try:
    key=input("Enter any key:-")
    print(dic[key])
    
except KeyError:
    print("This",key,"key Not Exist")

Enter any key:-sal
This sal key Not Exist

In [22]:
#ValueError

import math

try:
    n=int(input("Enter any Number"))

    x=math.factorial(n)
    print("Fact=",x)
    
except ValueError:
    print("Value Error coz of negative number")

Enter any Number-44
Value Error coz of negative number

In [23]:
try:
    obj=open("sat.txt",'r')
    res=obj.read()
    print(res)
    obj.close()
    
    
except FileNotFoundError:
    print("This file does not exist")

This file does not exist

In [24]:
#How to handle import error / module error

try:
    import request
    
except Exception as Err:
    print(Err)

No module named 'request'

In [25]:
#OverFlowError



import math
try:
    print("Exponant is:-",math.exp(1000))
    
except Exception as ov:
    print(ov)

math range error

#  User Defined Exception / Custom Exception

In [26]:
num=10
assert num>10, 'Invalid Number'

AssertionError: Invalid Number

In [30]:
n=int(input("Enter Any Number:-"))

try:
    assert n%2==0 

    print(n,"is even Number")age
except AssertionError:
    print("Enter even Number")

Enter Any Number:-22
22 is even Number

In [32]:


age=int(input("Enter the age:-"))

age=age+5
print("After 5 year Your age will be",age)

Enter the age:--5
After 5 year Your age will be 0

In [33]:
age=int(input("Enter the age:-"))
if age<0:
    raise ValueError('-ve Age not Accepted')

age=age+5
print("After 5 year Your age will be",age)

Enter the age:--5

ValueError: -ve Age not Accepted