# List Data Type in python

In [2]:
my_list=[1,2,3,4,45]
my_list2=['x','y','z','hello']
my_list3=['Aman',1,3.4,45,55.7]
my_list4=[22.4,45.6,2.4,5.6]
print(my_list)
print(my_list2)
print(my_list3)
print(my_list4)

[1, 2, 3, 4, 45]
['x', 'y', 'z', 'hello']
['Aman', 1, 3.4, 45, 55.7]
[22.4, 45.6, 2.4, 5.6]

In [5]:
#List Concatenate Operator (+)

my_list5=my_list+my_list2
print(my_list5)

[1, 2, 3, 4, 45, 'x', 'y', 'z', 'hello']

In [7]:
#Updating of List Element

print(my_list)
my_list[2]='Aman'
print(my_list)

[1, 2, 2, 4, 45]
[1, 2, 'Aman', 4, 45]

In [9]:
# Deleting of List element

data=[2,34,5,6.7,77.3,'Aman','Hello']
del data[0]
del data[0:4]
print(data)

['Aman', 'Hello']

In [10]:
# .clear() method

data.clear()
print(data)

[]

In [11]:
print(my_list)

[1, 2, 'Aman', 4, 45]

In [12]:
#Appending of List Element

my_list.append('Hello')

In [13]:
print(my_list)

[1, 2, 'Aman', 4, 45, 'Hello']

# List Handling Functions & Methods

In [14]:
# min(list)

data=[1,4,6,2,8,2,90,223]
print(min(data))

1

In [15]:
# max(list)

print(max(data))

223

In [21]:
data2=['Anita','Aman','abhi']
print(max(data2))

Anita

In [16]:
# len()

print(len(data))

8

In [22]:
# Index Method

print(data.index(6))

2

In [23]:
# .count(object)

data=[1,2,1,1,32,31,11,1,1]
print(data.count(1))

5

In [33]:
# .pop()/pop(index)


data=[1,2,1,1,32,31,11,1,1]
data.pop(4)

32

In [39]:
data.pop()
print(data)

[1, 2, 1]

In [54]:
# .insert(index,object)


data=[1,2,1,1,32,31,11,1,1]
data.insert(4,'Aman')
print(data)

t=len(data)
data.insert(t,'Aman')
print(data)

[1, 2, 1, 1, 'Aman', 32, 31, 11, 1, 1]
[1, 2, 1, 1, 'Aman', 32, 31, 11, 1, 1, 'Aman']

In [52]:
print(data)

[1, 2, 1, 1, 'Aman', 32, 31, 11, 1, 1, 'Aman']

In [50]:
# .extend
data2=[1,2,1,1,32,31,11,1,1]
data1=[1,'Aman','Hello',1,1]
data1.extend(data2)
print(data1)

[1, 'Aman', 'Hello', 1, 1, 1, 2, 1, 1, 32, 31, 11, 1, 1]

In [51]:
# .remove(object)


print(data)

[1, 2, 1, 1, 'Aman', 32, 31, 11, 1, 1, 'Aman']

In [55]:
data.remove('Aman')

In [56]:
print(data)

[1, 2, 1, 1, 32, 31, 11, 1, 1, 'Aman']

In [59]:
# .reverse()


data.reverse()
print(data)

['Aman', 1, 1, 11, 31, 32, 1, 1, 2, 1]

In [62]:
# .sort()/ .sort(reverse=True)


data=[1,2,345,67,53,42,341,6,9,2,6]
data.sort()
print(data)

[1, 2, 2, 6, 6, 9, 42, 53, 67, 341, 345]

In [63]:


data.sort(reverse=True)
print(data)

[345, 341, 67, 53, 42, 9, 6, 6, 2, 2, 1]