# Tuple

Tuple is immutable it means you cann't modify the data one you give in tuple and represented by ( ) parenthesis. Data written in tuples are secure and fast processing

In [1]:
x=(1,2,3,3)

type(x)

tuple

In [2]:
y=10,3,4,5   #for tuple parenthsis is not menditory 

type(y)

tuple

In [6]:
# Accessing Tuple


data=(1,2,3,4,5)
data2=('Hello','Welcome','Hello')
data3=(22,34,'Hello',21.2)

print(data[0])

print(data2[0:3])

print(data3[-2:-1])

1
('Hello', 'Welcome', 'Hello')
('Hello',)

In [8]:
# Nested  Tuple

data='hello',2.4,'Welcome'
data2=data,(1,2,3,4)

print(data)

print(data2)

('hello', 2.4, 'Welcome')
(('hello', 2.4, 'Welcome'), (1, 2, 3, 4))

In [9]:
# Concatenate Operator (+)


data=(1,2,3,4,5)
data2=('Hello','Welcome','Hello')
data3=data+data2

print(data3)

(1, 2, 3, 4, 5, 'Hello', 'Welcome', 'Hello')

In [10]:
#Tuple Replicate Operator (*)

data=(1,2,3,4,5)
data2=('Hello','Welcome','Hello')

print(data*2)

print(3*data2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('Hello', 'Welcome', 'Hello', 'Hello', 'Welcome', 'Hello', 'Hello', 'Welcome', 'Hello')

In [12]:
# Updation of Tuple element



data=(1,2,3,4,5)
# data2=('Hello','Welcome','Hello')
print(data)

data[2]='Welcome'
print(data)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [14]:
# Deleting Tuple

# del keyword

data=(1,2,3,4,5)

del data

In [15]:
print(data)

NameError: name 'data' is not defined